<a href="https://colab.research.google.com/github/misaelcsc/ativ-py/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numeros.append(11)
numeros.append(12)
numeros.append(13)
numeros.remove(5)
print(numeros)

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
numeros.reverse()
print(numeros)

[13, 12, 11, 10, 9, 8, 7, 6, 4, 3, 2, 1]



# Tuplas

In [ ]:
dados = (10, 20, 30, 40, 50)

In [ ]:
print(dados[2])

30

In [ ]:
dados[1] = 15
# Não é possível modificar o elemento da tupla, pois tuplas são imutáveis, seus elementos são fixos e não podem ser alterados diretamente.

TypeError: 'tuple' object does not support item assignment

# Dicionários

In [6]:
aluno = {'nome': 'Misael', 'idade': 21, 'nota': 9.0}
print(aluno)

{'nome': 'Misael', 'idade': 21, 'nota': 9.0}

In [7]:
aluno['nota'] = 10
aluno['curso'] = 'ADS'
print(aluno)

{'nome': 'Misael', 'idade': 21, 'nota': 10, 'curso': 'ADS'}

In [8]:
del aluno['idade']
print(aluno)

{'nome': 'Misael', 'nota': 10, 'curso': 'ADS'}

# Funções

In [ ]:
def soma(x, y):

  return x + y
print(soma(5, 5))

10

In [ ]:
def media(numeros):
  return sum(numeros)/len(numeros)

numeros = [10,20,30,40,50]
print(media(numeros))

30.0

In [ ]:
def eh_par(numero):
  if numero % 2 == 0:
    return True

  else:
    return False

print(eh_par(10))
print(eh_par(11))

True
False